body {
    background-image: url('https://image.shutterstock.com/image-photo/halloween-background-spooky-pumpkin-moon-260nw-708825442.jpg');
   background-size: cover;
}


h1 {
    color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 80px;
}

div {
    text-align: center;
}


img {
animation: enlarge 750ms infinite alternate-reverse, spin 1s infinite;

}

@keyframes enlarge {
    from { width: 220px; height: 229px;}
    to {width: 250px; height: 250px;}

}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

p {
    font-size: 19px;
    position: relative;   
    color: red;
    font-family: fantasy;
}

div#spooks {
    background-color: orange;
    position: relative;
    width: 55px;
    height: 20px;
    top: 1px;
    left: 1000x;
    animation: spooky 1500ms alternate infinite linear;
    
}

@keyframes spooky {
    from {top: 1px ; left: 1000px;}
    to {top: 20px ; left: 1000px;}
}














