        body {
            background-color: slategrey;
        }

        .calculator {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -125px;
            margin-left: -60px;
            overflow: hidden;
        }
    
        .calculator a {
            display: block;
            height: 15px; 
            width: 120px;
            margin-bottom: -15px;
            background-color: white;
        }

        .calculator button {
            width: 40px;
            height: 40px;
            border-color: black;
            background-color: whitesmoke;
            margin-right: -4px;
        }
    
        .calculator button:hover {
            background-color: gray;
        }
